@use '../util' as u;

.nav {
  border-radius: 30px;
  width: 70px;
  margin-inline-start: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__lowerNav,
  &__upperNav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    background-color: var(--nav-bg-color);
    padding: 15px;
    align-items: center;
  }

  &__upperNavLink,
  &__forward,
  &__back {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
