:root {
  --photo-section-bg: hsl(0, 0%, 27%);
  --generalInfo-section-bg: hsl(0, 0%, 13%);

  --border-color: hsl(0, 0%, 96%);

  --header-color: hsl(0, 0%, 96%);
  --sub-text-color: hsl(0, 0%, 66%);
  --pharagraph-text-color: hsl(240, 44%, 87%);

  --button-shadow-color: hsl(0, 0%, 0%);
  --button-text-color: hsl(0, 0%, 96%);
  --button-bg-color: hsl(0, 0%, 27%);
  --button-bg-color-hover: hsl(0, 0%, 100%);
  --button-text-color-hover: hsl(240, 89%, 64%);

  --highlighted: hsl(240, 89%, 64%);

  --nav-bg-color: hsl(0, 0%, 27%);
}
